body{
    margin:0px;
    padding:0px;
    overflow-x:hidden;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1px;
  }
  .contact{
    background: rgb(55,125,65);
    padding:10px 100px 10px 30px;
    display:none;
  }
  .contactus a{
    color: rgb(255,255,255);
  }
  .toparea{
    background: rgb(33,37,41);
    display:none;
    padding:20px;
  }
  .topareaa img{
    padding-left:42.7%;
  }
  #navm{
    overflow: hidden;
    background:transparent;
    padding: 0px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }
  .navmenu{
    padding:40px 150px 0px 100px;
  }
  .navbar-nav{
    width:100%;
    background-color:none;
    margin:0px 0px 0px 0px;
  }
  .nav-link{
    color: rgb(255,255,255) !important;
    font-size:18px !important;
    padding:0px 18px !important;
  }
  .nav-link img{
    position:relative;
    top:-35px;
  }
  .journey{
    width:100%;
    height:300px;
    position:absolute;
    left:6%;
    top:36%;
    z-index: 50;
    color: rgb(255,255,245);
  }
  .box15 h2{
    font-size:50px;
  }
  .box15 h1{
    font-size:130px;
    line-height:60px;
  }
  .box16{
    position:fixed;
    z-index:60;
  }
  .box16 ul{
    list-style:none;
  }
  .box16 ul li a{
    border:solid 1px rgb(255,255,245);
    color: rgb(255,255,255);
  }
  .slideshow{
    overflow-x:hidden;
    position: relative;
  }
  .slide{
    background:none;
    margin:0;
    padding: 0;
  }
  .section1{
    background-color: rgb(245,232,223);
}
  .sect1{
    padding:30px 0px 0px 0px;
  }
  .sect1 h1{
    color: rgb(25,25,25);
    font-weight:none;
    font-size:45px;
    text-align:center;
    text-decoration:underline;
    
  }
  .sect1 p{
    font-weight:500;
    font-size:22px; 
    padding:0px 20px 20px 20px;
    color: rgb(25,25,25);
    text-align:center;
  }

  .section6{
    background-color: rgb(255,255,255);
  }
  .box2{
    padding:200px 60px;
    float:left;
  }
  .box2 h1{
    color: rgb(166,122,53);
    text-align:center;
    font-size:60px;
    font-weight:bolder;
  }
  .box2 ul{
    list-style:none;
    margin:20px 0px;
  }
  .box2 ul li a{
    float:left;
    color:#7A7772;
    border:solid 1px #7A7772;
    padding:3px 25px;
    margin:0px 5px;
    border-radius:50px;
    font-size:15px;
  }
  .box2 ul li:last-child a{
    background-color: rgb(166,122,53);
    color: rgb(255,255,245);
    border:none;
  }
  .box2a{
    margin:50px 0px;
    border:solid 10px rgb(245,232,223);
    overflow:hidden;
  }
  .box2a img{
      width:100%;
      height:100%;
      transition: all 0.5s;
  }
  .box2a img:hover{
    transform: scale(1.05,1.05);
  }
  .section7{
    background-color: rgb(255,255,255);
  }
  
  .boxa2a{
    margin:50px 0px;
    border:solid 10px rgb(245,232,223);
    overflow:hidden;
  }
  .boxa2a img{
    width:100%;
    height:100%;
    transition: all 0.5s;
}
.boxa2a img:hover{
  transform: scale(1.05,1.05);
}
  .boxa2{
    padding:200px 0px;
    float:left;
  }
  .boxa2 h1{
    color: rgb(166,122,53);
    text-align:center;
    font-size:60px;
    font-weight:bolder;
  }
  .boxa2 ul{
    list-style:none;
    margin:20px 0px;
  }
  .boxa2 ul li a{
    float:left;
    color:#7A7772;
    border:solid 1px #7A7772;
    padding:3px 25px;
    margin:0px 5px;
    border-radius:50px;
    font-size:15px;
  }
  .boxa2 ul li:last-child a{
    background-color: rgb(166,122,53);
    color: rgb(255,255,245);
    border:none;
  }

  .bottom2{
    background-color: rgb(255,255,255);
    padding:30px 10px;
  }
  .bottomarea2 img{
    padding-left:40%;
  }
  .box3 ul{
    list-style:none;
    margin:20px 5%;
  }
  .box3 ul li a{
    float:left;
    color: #443866;
    padding:10px 10px;
    margin:0px 5px;
    font-size:20px;
  }
  .box4 h4{
    margin:20px auto 10px auto;
    text-align:center;
    font-size:25px;
    font-weight:600;
    color: rgb(25,25,25);
  }
  .cprt p{
    color: rgb(25,25,25);
    text-align:center;
  }
  .box5{
    margin:10px;
    padding-left:30%;
    border:none;
  }
  .box5 input{
    width:300px;
    height:40px;
    padding:20px 10px;
    border:none;
    border-bottom:solid 1px rgb(25,25,25);
    border-radius:20px;
    position:relative;
    right:0;
    margin-right:-50px;
  
  }
  .box5 input:focus{
    outline:none;
  }
  .box5 input[type=submit]{
  width:150px;
  font-size:18px;
  padding:0px 20px;
  color: rgb(245,232,223);
  background-color: rgb(25,25,25);
  border:none;
  border-bottom:none;
  position:relative;
  right:0;
  }
  @media screen and (max-width:900px){
    .contact{
      display:block;
    }
    .toparea{
      display:block;
    }
    .topareaa img{
      padding-left:30%;
    }
    #navm{
      background-color: rgb(255,255,255);
      padding:0px;
    }
    .navmenu{
      padding:0px;
    }
    .navbar-nav{
      margin:10px 0px 0px 0px;
    }
    .nav-link{
      color: rgb(25,25,25) !important;
    }
    .nav-link img{
      display:none;
    }
    .slide{
      height:300px;
    }
    .slide img{
      height:300px;
    }
    .about{
      padding:50px 20px;
    }
    .aboutcon h1{
      padding-top:0px;
    }
    .box1{
      padding:20px 30px;
    }
    .box1 img{
      padding-right:0px;
    }
    .content1 h1{
      padding:0px 50px;
      font-size:40px;
    }
    .box2{
      padding:20px 60px 10px 60px;
      margin-bottom:40px;
      border:none;
    }
    .box2 h2{
      padding:0px;
      font-size:25px;
    }
    .box2 ul{
      margin:0px;
    }
    .box2 ul li a{
      margin:0px 2px;
    }
    .box2{
      padding:20px 60px 10px 60px;
      margin-bottom:40px;
      border:none;
    }
    .box2a h2{
      padding:0px;
      font-size:25px;
    }
    .box2a ul{
      margin:0px;
    }
    .box2a ul li a{
      margin:0px 2px;
    }
    .box6a{
      display:none;
    }
    .box7{
      padding:0px;
    }
    .section2{
      height:700px;
    }

    .section6{
      height:auto;
    }
    .box10{
      margin:5% 0px;
    }
    .box10 ul{
      margin:20px;
    }
    .box11{
      position:absolute;
      top:300px;
      display:none;
      margin-top:20px;
    }
    .box11a{
      display:block;
      background-color:none;
    }
    .box12a{
      margin:0px 50px 20px 50px; 
    }
    .box12a{
      padding:10px 0px;
    }
    .box12a img{
        padding:10px 0px;
      }
    
    .section7{
        height:auto;
      }
      .boxa10{
        margin:5% 0px;
      }
      .boxa10 ul{
        margin:20px;
      }
      .boxa11{
        position:absolute;
        top:300px;
        display:none;
        margin-top:20px;
      }
      .box11ab{
        display:block;
        background-color:none;
      }
      .box12ab{
        margin:0px 50px 20px 50px; 
      }
      .box12ab{
        padding:10px 0px;
      }
      .box12ab img{
        padding:10px 0px;
      }
      
    .wow_imgage{
      width:100%;
    }
    .wow_imgage img{
      width:100%;
    }
    .box3 ul{
      padding:0px;
    }
    .bottomarea2 img{
      padding:0% 40%;
    }
    .box5 form{
      padding-left:20%;
    }
    .box5{
      padding-left:0%;
    }
    .box5 input{
      width:250px;
    }
  }
  div.container1 ul li a
  {
      color: #FFF;
      text-decoration: none;
      font-size: 20px;
      position: relative;
      z-index: 0;
      cursor: pointer;
  }
  div.circleBehind a:before, div.circleBehind a:after
  {
      position: absolute;
      top: 18px;
      left: 50%;
      width: 40px;
      height: 40px;
      border: 4px solid rgb(55,55,55);
      transform: translateX(-50%) translateY(-50%) scale(0.8);
      border-radius: 50%;
      background: transparent;
      content: "";
      opacity: 0;
      transition: all 0.3s;
      z-index: -1;
  }
  div.container1 .circleBehind img{
    border:none;
  }
  
  div.circleBehind a:after
  {
      border-width: 2px;
      transition: all 0.4s;
  }
  
  div.circleBehind a:hover:before
  {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%) scale(1);
  }
  
  div.circleBehind a:hover:after
  {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%) scale(1.3);
  }
  
  